<p id="notice"><%= notice %></p>

<h1>Listing Receipeproducts</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Receipe</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receipeproducts.each do |receipeproduct| %>
      <tr>
        <td><%= receipeproduct.product.try(:name) %></td>
        <td><%= receipeproduct.receipe.name %></td>
        <td><%= receipeproduct.quantity %></td>
        <td><%= link_to 'Show', receipeproduct %></td>
        <td><%= link_to 'Edit', edit_receipeproduct_path(receipeproduct) %></td>
        <td><%= link_to 'Destroy', receipeproduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipeproduct', new_receipeproduct_path %>
