<%= form_for(@doshaproduct) do |f| %>
  <% if @doshaproduct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doshaproduct.errors.count, "error") %> prohibited this doshaproduct from being saved:</h2>

      <ul>
      <% @doshaproduct.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :product_id, Product.all.collect { |p| [ p.name, p.id ] } %>
  </div>
  <div class="field">
   <%= f.select :dosha_id, Dosha.all.collect { |p| [ p.name, p.id ] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
